/src/BlazorDesk/BlazorDesk.Components/obj
/src/BlazorDesk/BlazorDesk.Components/bin
/src/BlazorDesk/.vs/BlazorDesk/v16/.suo
/src/BlazorDesk/BlazorDesk.WebServer/obj
/src/BlazorDesk/BlazorDesk.WebServer/bin
